li a {
    cursor: pointer
}

.no-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

.center {
    text-align: center
}

.navbar.grey {
    background-color: #DADADA;
    color: rgb(115, 115, 115);
}

.navbar.lite {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(115, 115, 115);
}

.no-margin {
    margin: 0;
}

li.disabled {
    color: rgba(218, 218, 218, 5);
}

.navbar.subnav .navbar-nav > li a {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    padding-left: 15px;
    padding-right: 15px;
}

.subnav ul > li > a, .subnav li a {
    display: table;
    height: 50px;
}

.navbar.subnav a {
    color: rgb(115, 115, 115);
    text-decoration: none;
}

.subnav i {
    font-size: 30px;
}

.subnav .text-option {
    display: table-cell;
    position: relative;
    top: -20%;
    left: 5%;
    font-weight: 600;
}

.v-align li span, .dropdown-menu li span {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    left: 5px
}

.v-align li i, .dropdown-menu li i  {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    font-size: 25px
}
/* Tablas */
.wrapper-tabla {
    height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.table td.list-name {
    vertical-align: middle;
}

td.list-name.dir {
    width: 60%;
}

table#tabla-archivos>tbody tr:first-child td {
    border-top: 0;
}

.list-icon {
    font-size: 30px;
    text-align: center;
}

.list-icon.edit {
    text-align: left;
    font-size: 25px;
    vertical-align: bottom;
}

.list-icon.blue, .blue {
    color: #2c6fb2
}

.list-icon.red, .red {
    color: #fc2020
}

.list-icon.green, .green {
    color: #2b882b
}

.list-icon.yellow, .yellow {
    color: #eba444
}

.list-icon.brown, .brown {
    color: #5a2718
}

.list-icon.yelbrown, .yelbrown {
    color: #886c4d
}

.dir:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer
}

.dir:active {
    text-decoration: underline;
    color: #3F51B5;
    cursor: pointer
}

.navbar-btn.btn-xs.btn-icon {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right: 15px;
}

.navbar-header a.linkUser {
    color: rgba(255,255,255,.84);
    margin-right: 15px;
    text-decoration: none
}

.nav-inline > li {
    display: inline;
    float: left;
}

.dropdown-menu {
    min-width: 114px
}

/* Breadcrumb */
ul.breadcrumb > li > a {
    cursor: pointer;
}

li.appear {
    display: block;
    -webkit-animation: appear 0.3s; /* Chrome, Safari, Opera */
    animation: appear 0.3s;
}

li.desappear {
    opacity: 0;
    -webkit-animation: desappear 0.2s; /* Chrome, Safari, Opera */
    animation: desappear 0.2s;
}

/* ANIMACIONES */
/* Chrome, Safari, Opera */
@-webkit-keyframes appear {
    from {left: 50px; opacity: .0}
    to{left: 0px}
}

/* Standard syntax */
@keyframes appear {
    from {left: 50px; opacity: .0}
    to{left: 0px}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes desappear {
    from {top: 0px; opacity: 1}
    to{top: 10px}
}

/* Standard syntax */
@keyframes desappear {
    from {top: 0px; opacity: 1}
    to{top: 10px}
}

/* FIN ANIMACIONES */


/* Clases subida ficheros */
.dz-preview {
    display: none
}

#formulario-subida .dz-default.dz-message {
    display: none
}


/* SCROLLBAR */

.wrapper-tabla::-webkit-scrollbar {
    width: 7px;
}
.wrapper-tabla::-webkit-scrollbar-track:hover {
    background: rgba(218, 218, 218, 0.2);
    border-radius: 6px
}
.wrapper-tabla::-webkit-scrollbar-thumb {
    background: #dadada;
    border-radius: 6px
}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }
