.center {
    text-align: center
}

.list-icon {
    font-size: 30px;
    text-align: center;
}

.list-icon.blue {
    color: #2c6fb2
}

.list-icon.red {
    color: #fc2020
}

.list-icon.green {
    color: #2b882b
}

.list-icon.yellow {
    color: #eba444
}

.navbar.grey {
    background-color: #DADADA;
    color: rgb(115, 115, 115);
}

.no-margin {
    margin: 0;
}

.navbar.subnav .navbar-nav>li>a {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

.subnav i {
    font-size: 30px;
}

.subnav .text-option {

}
